@use "../variables" as var;

.Header {
  width: 100%;
  padding: 20px 0;
  background: linear-gradient(180deg, #eadbc8 15.1%, rgba(234, 219, 200, 0) 100%);

  .container {
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .logo {
      height: 60px;
      img {
        width: unset;
        height: 100%;
        object-fit: contain;
      }
    }

    .nav {
      margin-left: 20px;
      margin-right: auto;
      display: flex;

      a {
        margin-right: 30px;
        font-family: "Poppins", sans-serif;
        font-weight: 600;
        text-decoration: none;
        color: var.$primary;
        transition: 0.2s linear;
      }

      a:hover {
        color: var.$secondary;
      }
    }

    .cta {
      margin-left: auto;
      margin-right: 0px;
      padding: 0.4em 0.9em;
      background-color: var.$primary;
      border-radius: 50px;
      display: flex;
      align-items: center;
      transition: 0.2s linear;
      cursor: pointer;

      img {
        width: 28px;
        height: 28px;
        margin-right: 6px;
      }

      a {
        color: var.$background;
        text-decoration: none;
      }
    }

    .cta:hover {
      background-color: var.$secondary;
      a {
        color: var.$primary;
      }
    }
  }
}

@media(max-width: 1400px) {
  .Header {
    .container {
      max-width: 1000px;
      .logo{
        height: 50px;
      }
      .nav {
        a {
          font-size: .9rem;
          margin-right: 20px;
        }
      }
    }
  }
}

@media(max-width: 1000px){
  .Header {
    padding-bottom: 0px;
    .container {
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      .logo{
        height: 40px;
        // width: 50%;
        order: 1;
        margin: auto;
      }

      .cta{
        margin: auto;
        order: 2;
        height: 32px;
        // width: 50%;
      }
      .nav {
        order: 3;
        width: 100%;
        margin: 12px auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        a {
          font-size: 1rem;
          margin-right: 20px;
          margin: 10px 20px 10px;

        }
      }
    }
  }
}
